<body>
<mat-card *ngFor="let item of PHOTOITEMS" class="example-card">

  <mat-card-header>
    <mat-card-title>{{item.typeOfShot}}</mat-card-title>
    <mat-card-subtitle>{{item.price}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]=item.imagePath alt="Photo of a Shiba Inu">

  <mat-card-content>
    <p>
      {{item.description}}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>

</mat-card>
</body>
